<p id="notice"><%= notice %></p>
<% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
<% end %>

<!---video1 -->
<div>
<p>

	
	  <h2 style="font-family: 'Fredoka One', cursive;"><%= @video.title.capitalize %> by <img src="<%= @video.user.pic.html_safe%>"/> </h2>
<br/>
<% if @video.typical == "music" %>
<iframe src="https://embed.spotify.com/?uri=<%= @video.viddy %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
<br/>
<% elsif @video.typical == "video" %>
<a href="<%= @video.viddy%>"</a>

<% elsif @video.typical == "tweet" %>
<%= @video.content.html_safe %>
<%end%>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vursit.heroku.com/videos/<%= params[:id] %>" data-lang="en" data-size="medium" data-text="i just voted for <%= @video.title %>" data-hashtags="vursit"   data-count="none">Tweet</a>
<div class="fb-like" data-href="http://vursit.heroku.com/videos/<%= params[:id] %>" data-send="false" data-width="300" data-show-faces="true"></div>
</p>

<%= link_to "Vote", vote_video_path(@video), :content_tag => "button", :class => "btn btn-success"%>
<h3><%= pluralize(@video.flaggings.count, "person") %> voted for this.</h3>
<hr>
<h1  style="margin:10px;">VS</h1>

<hr>
<br/>
<% if @video.vidvid.present? %>

  <h2 style="font-family: 'Fredoka One', cursive;"> <%= @video.vidvid.title1.capitalize %> by <img src="<%= @video.vidvid.user.pic.html_safe%>"/></h2>
<br/>
<!---video1 -->	

 <% if @video.vidvid.typical == "music" %>
<iframe src="https://embed.spotify.com/?uri=<%= @video.vidvid.viddy1 %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
<br/>
<% elsif @video.vidvid.typical == "video" %>
<a href="<%= @video.vidvid.viddy1 %>"</a>

<% elsif @video.vidvid.typical == "tweet" %>
<%=h @video.vidvid.content %>
<%end%>

<!---video1-->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vursit.heroku.com/videos/<%= params[:id] %>" data-lang="en" data-size="medium" data-text="I just voted for <%= @video.vidvid.title1 %>" data-hashtags="vursit"   data-count="none">Tweet</a>

<div class="fb-like" data-href="http://vursit.heroku.com/videos/<%= params[:id] %>" data-send="false" data-width="300" data-show-faces="true"></div>
</p>
<br/>
</p>
</div>
<!---video2 -->
<div>
<p>
<%= link_to "Vote", vote_vidvid_path(@video.vidvid), :content_tag => "button", :class => "btn btn-success" %>
<h3><%= pluralize(@video.vidvid.flaggings.size, "people") %> voted for this.</h3>
<% end %>

<% if @video.vidvid.nil? %>
<button id="slider"class="btn btn-success">Challenge</button>
<div id="slide">
<%= form_for([@video, @video.build_vidvid]) do |f| %>

  <%= f.hidden_field :video_id %>

<% if user_signed_in?%>
   <%= f.hidden_field :user_id,{:value => current_user.id} %>
<% end %>
<div class="field">
  <%= f.label :typical, "Type" %><br />
 <%= f.select(:typical, [["music","music"],["tweet","tweet"],["video","video"]]) %>
</div>
<div class="field">
  <%= f.label :viddy1, "Link" %><br />
  <%= f.text_field :viddy1 %>
</div>
<div class="field">
  <%= f.label :title1,"Title" %><br />
  <%= f.text_field :title1 , placeholder: "This is the best..."%>
</div>
 <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
<%end %>


<br/>
</div>
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
